body{   background-color: #1E2640 !important;
}
/*Header*/
#cabecalho .navbar{    background-color: #f2f2f2;
    padding-top: 0px;
    padding-bottom: 0px;
}
#cabecalho .icon-perfil{   color: #328C73;
}
#cabecalho .nav-link{  background-color: #328C73;
}
/**/
#formulario .row{ background-color: #174873;
}
#formulario .texto-form p{
    color: #ADD9B0;
}
#formulario .texto-form button{
    background-color: #328C73;
}
/*Categorias*/
#categorias .main-dois{
    background-color: #174873;
}
#categorias .main-dois p{
    color: #ADD9B0;
}
#categorias .main-dois button{
    background-color: #328C73;
}
.text-white, h2{
    color: #f2f2f2 !important;
}
/*Simulação*/
#sim .simulacao{
    background-color: #174873;
}
#sim .simulacao p{
    color: #ADD9B0 ;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
